@media screen and (min-width: 0px) {
    .navbar {
        background-color: var(--main-bg-color);
        height: 4em;
        color: var(--primary-text-color);
        display: flex;
        align-items: center;

        /* justify-content: flex-start; */
        /* justify-content: space-around; */
        text-align: center;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 999;
    }

    .navbar>div {
        /* flex: 0; */
    }

    .opacity {
        opacity: 0.9;
    }

    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .ul li {
        flex: 1;
        margin: 1.5em;
    }

    .ul li:hover {
        cursor: pointer;
        color: var(--warning-text-color);
    }

    .logo_container {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 22px;
        height: 22px;
        position: relative;
        margin: 1em;
    }
    .logo:hover{
        cursor: pointer;
    }

    .active {
        color: var(--warning-text-color);
        font-weight: bold;
    }

    .navbar_aside {
        position: fixed;
        width: 100vw;
        max-width: 100%;
        background-color: var(--main-bg-color);
        opacity: 0.9;
        top: -18em;
        left: 0;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .open {
        transform: translateY(calc(18em + 4em));
    }

    .ulMobile {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
    }

    .ulMobile li {
        flex: 1;
        margin: 1.5em;
    }

    .ulMobile li:hover {
        cursor: pointer;
    }

}

@media screen and (min-width: 660px) {
    .navbar>div {
        flex: 1;
    }
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1320px) {}