@media screen and (min-width: 0px) {

  .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  
  .title {
    font-size: 2.5em;
    text-align: center;
    color: var(--warning-text-color);
  }
  
  .subtitle {
    padding-top: 1em;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
  }
  
  .description {
    text-align: center;
    font-size: 1.2em;
  }
  
  .form {
    width: 100%;
    border: 1px solid gray;
    margin: 2em;
    padding: 2em;
  }
  
  .form>input,
  .form>textarea {
    width: 100%;
    padding: 0.8em;
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    font-size: 1em;
  }
  
  .button_secondary {
    margin-top: 1.5em;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-size: 0.9em;
    font-weight: bold;
    padding: 16px 50px;
    border-radius: 8px;
    border: 0;
    outline: 0;
  }
  
  .button_secondary:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .logo_container {
    /* width: 300px; */
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 38px;
    height: 38px;
    position: relative;
    margin: 0 1em;
  }


}

@media screen and (min-width: 620px) {}

@media screen and (min-width: 960px) {

  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  .form {
    width: 600px;
    border: 1px solid gray;
    margin: 2em;
    padding: 2em;
  }

}

@media screen and (min-width: 1320px) {}