


@media screen and (min-width: 0px) {

  .main {
    /* min-height: 100vh; */
    padding: 2em;
    
  }
  
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    
  }


  .wrapperRev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  .image {
    width: 80vw;
    max-width: 540px;
    max-height: 360px;
    height: 50vw;
    position: relative;
  }
  
  .content {
    margin-left: 0;
    z-index: 1;

  }
  
  .overlap{
    margin-left: 0;
  }
  
  .subtitle {
    color: var(--warning-text-color);
    font-size: 1.5em;
  }
  
  .box {
    background-color: var(--main-bg-color);
    /* height: 260px; */
    /* max-width: 600px; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2em 2em;
    font-size: 0.9em;
    color: rgb(217, 217, 217);
    text-align: justify;
  }
  
  .techs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
  }
  
  .techs_container>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  
  .logo {
    width: 36px;
    height: 36px;
    position: relative;
    opacity: 0.6;
  }
  
  .logo_name{
    padding: 0.4em;
    font-size: 0.8em;
    opacity: 0.6;
  }
}

@media screen and (min-width: 620px) {}

@media screen and (min-width: 960px) {
  .content {
    margin-left: -3em;
  }
  
  .overlap{
    margin-left: -3em;
  }

  .wrapper {
    flex-direction: row;
    padding: 2em 4em;
  }
  


  .wrapperRev {
    flex-direction: row;
    padding: 2em 4em;
  }

  .box{
    max-width: 600px;
  }
}

@media screen and (min-width: 1320px) {
 
}